* {
  font-family: Verdana;
} /* Universal selector for entire page. font will be Verdana based on mock for all content */

body {
  background-color: black;
}  

.top {
  color: white;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.download {
  color: Aquamarine;
  font-size: 16px;
  text-decoration-line: underline;
  text-align: center;
}
