* {
  font-family: Verdana;
  text-align: center;
} /* Universal selector for entire page. font will be Verdana based on mock for all content and centered alignment */

body {
  background-color: black;
}  

.top {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

.guide {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

.description {
  color: Gray;
  font-size: 21px;
}

.coming-soon {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

.copyright {
  color: Gray;
  text-align: right;
}
